package {{ snake .AgentName }}

import (
	"encoding/json"
	"net/http"
)

type Service struct{}

func (s Service) Handle(w http.ResponseWriter, r *http.Request) {
	var req Request
	if err := json.NewDecoder(r.Body).Decode(&req); err != nil {
		http.Error(w, "bad request", http.StatusBadRequest)
		return
	}
	_ = json.NewEncoder(w).Encode(Response{})
}
