package {{ snake .AgentName }}

import (
	"context"
	"crypto/sha256"
	"encoding/hex"
	"time"
)

type Auditor interface {
	RecordInvoke(ctx context.Context, invocation ModelInvocation) string
	RecordResult(ctx context.Context, auditID string, err error)
}

type NoopAuditor struct{}

func (NoopAuditor) RecordInvoke(_ context.Context, invocation ModelInvocation) string {
	hash := sha256.Sum256([]byte(invocation.TraceID + invocation.ModelRef + time.Now().UTC().Format(time.RFC3339Nano)))
	return "mlinvoke-" + hex.EncodeToString(hash[:6])
}

func (NoopAuditor) RecordResult(_ context.Context, _ string, _ error) {}
