package in

import (
	"context"

	"{{ .ModulePath }}/agents/{{ .AgentName }}/dto"
)

type {{ pascal .AgentName }}Service interface {
	Execute(ctx context.Context, req dto.{{ pascal .AgentName }}Request) (dto.{{ pascal .AgentName }}Response, error)
}
