services:
  {{ .ServiceName }}:
    build: .
    ports:
      - "${PORT:-6000}:${PORT:-6000}"
    env_file: .env.example
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${PORT:-6000}/v1/health_check"]
      interval: 10s
      timeout: 5s
      retries: 3
