apiVersion: appdarta.io/v1
kind: AgentPolicy
metadata:
  name: "{{ .AgentName }}"
  domain: "{{ .Domain }}"
spec:
  gateway_pipeline:
    in:
      - type: auth_enforcement
      - type: budget_enforcement
      - type: crewai-kickoff
        config:
          endpoint: "http://{{ .AgentName }}:8000"
          timeout_seconds: 60
    out:
      - type: audit_logger
        async: true
