services:
  {{ .ServiceName }}:
    build: .
    ports:
      - "${PORT:-9002}:${PORT:-9002}"
    environment:
      PORT: "${PORT:-9002}"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${PORT:-9002}/v1/health_check"]
      interval: 10s
      timeout: 5s
      retries: 3
