from fastapi import APIRouter

from .dto import {{ pascal .AgentName }}Request, {{ pascal .AgentName }}Response
from .service import {{ pascal .AgentName }}Service

router = APIRouter()
service = {{ pascal .AgentName }}Service()


@router.post("/{{ kebab .AgentName }}", response_model={{ pascal .AgentName }}Response)
async def execute(payload: {{ pascal .AgentName }}Request) -> {{ pascal .AgentName }}Response:
    return await service.execute(payload)
