package dto

// {{ pascal .AgentName }}Request is the input to the {{ .AgentName }} agent.
type {{ pascal .AgentName }}Request struct {
	// TODO: define fields from BDD given/when context
}

// {{ pascal .AgentName }}Response is the output from the {{ .AgentName }} agent.
type {{ pascal .AgentName }}Response struct {
	// TODO: define fields from BDD then context
}
