package crud

import "context"

type Repository[CreateReq any, UpdateReq any, Entity any] interface {
	Create(ctx context.Context, req CreateReq) (Entity, error)
	Get(ctx context.Context, id string) (Entity, error)
	List(ctx context.Context) ([]Entity, error)
	Update(ctx context.Context, id string, req UpdateReq) (Entity, error)
	Delete(ctx context.Context, id string) error
}
