from fastapi import APIRouter

from .dto import RequestModel, ResponseModel
from .service import execute

router = APIRouter()


@router.post("/{{ kebab .AgentName }}", response_model=ResponseModel)
async def run(payload: RequestModel) -> ResponseModel:
    return await execute(payload)
