services:
  redpanda:
    image: redpandadata/redpanda:v24.1.1
    command:
      - redpanda start
      - --overprovisioned
      - --smp 1
      - --memory 512M
      - --kafka-addr internal://0.0.0.0:9092,external://0.0.0.0:19092
      - --advertise-kafka-addr internal://redpanda:9092,external://localhost:19092
    ports:
      - "19092:19092"
